* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}



/* General styles */
main {
    background-color: hsl(0deg, 0%, 60%);
    border-top: 8px solid hsl(0deg, 0%, 40%);
}

main h2 {
    background-color: hsl(45deg, 100%, 50%);
}

.card {
    background-color: hsl(0deg, 0%, 100%);
}

p strong {
    color: hsl(160deg, 100%, 30%);
}


.card h2 {
    border-bottom: 8px solid hsl(45deg, 100%, 40%);
}



/* Desktop */
h1.title {
    margin-top: 72px;
    margin-bottom: 48px;
    font-size: 2.2rem;
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

header p {
    font-size: 1.4rem;
    padding-left: 32px;
    margin-top: 32px;
}

.max-width-wrapper {
    max-width: 560px;
    margin: 0 auto;
}

.intro-chunk {
    width: 75%;
    margin-bottom: 64px;
}

.card {
    margin-top: 52px;
    padding-top: 2px;
    margin-bottom: 16px;
    border-bottom: 8px solid hsl(0deg, 0%, 30%);

}

.indented-heading {
    padding: 48px;
    font-size: 1.3rem;
    width: 60%;
    margin-top: 4px;
    margin-left: -8px;
}

.card p {
    padding: 16px 0 0 48px;
}

section {
    padding-bottom: 128px;
}

/* Tablet */
@media screen and (max-width: 720px) {

    header p {
        width: 460px;
    }

    main {
        padding: 64px 0;
    }

    .indented-heading {
        margin-top: 0;
        width: 70%;
        padding: 16px;

    }
    .card {
        padding-top: 8px;
    }
    main p {
        padding: 32px 52px 16px 32px;
        font-size: 1.1rem;
        margin: 0;
        margin-bottom: 32px;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {

    header p {
        font-size: 1.8rem;
        width: 348px;
    }

    /* main area */

    main {
        margin-top: 72px;
        padding-top: 96px;
    }

    .card {
        padding: 16px 32px 0 0;
    }

    .card h2 {
        padding-left: 32px;
        width: 80%;
        margin: 0;
    }

    .card p {
        display: none;
    }
}
